{% extends "base.html" %}

{%block content %}


<body style=" background-color:yellow"></body>
<p>  </p>

<form method="post">
    <table>
        <tr>
            <td> Username: </td> <td> <input type="text" name="numOne" required/></td>
        </tr>
        <tr>
            <td> Password: </td> <td> <input type="text" name="numTwo" required/></td>
        </tr>
    </table>
        <br>
    <input class="button" type ="submit" formaction="/add" value="Enter" />
</form>
<p>  </p>

<div>
    <img src= "https://i.pinimg.com/originals/e9/57/c1/e957c15c5087a32d46c5bf2da5faef10.gif" style = "position: fill; width: 1535px; height: 650px" alt=HELLO>
</div>
<!--<p> {{ display }}<p>-->

{% for your_list_element in your_list %}
<p>{{ your_list_element }} </p>
{% endfor %}

<div style="clear:both;"></div>

{% endblock %}