<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
<title>All | People </title>
<link href="/static/style.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% for data in datalist: %}
{% set doa = data["date"] %}
{% set name = data["name"] %}
{% set link = data["embedlink"] %}
{% set linkout = data["linkout"] %}
{% set gist = data["gist"] %}
<h1>{{greeting}} <span style='color:orangered;'></span></h1>
<ol>
    <li>Due date: <span style='color:midnightblue;'>{{doa}}</span></li>
    <li>Task: <span style='color:midnightblue;'>{{name}}</span></li>
    {% if 'embed' in data %}
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src={{link}}></iframe>
    </div>
    {% endif %}
    <h1 style = "color:white ; height:140px ; margin-left:auto ; margin-right:auto ; width:1000px ; font-size:20px;" > Click to see repository: {{name}} <form method="get" action={{embedlink}}> <button type="submit">Visit Code</button> </form> </h1>

    {% if 'gist' in data %}
    <li>{{job}} link: <span style='color:midnightblue;'>{{gist}}</span></li>
    {% endif %}
</ol>
<div>
    <script src={{gist}}></script>
</div>
{% endfor %}
{% endblock %}
</html>
